asgiref==3.8.1            # via django
build==1.2.1              # via pip-tools
click==8.1.7              # via pip-tools
django==5.0.6             # via -r requirements.in, django-appconf, django-attachments-management, django-compressor, django-easy-autoslug, django-jinja, django-parler, django-pylibmc-threadsafe, django-tinymce, django-universal-paginator, easy-thumbnails, model-bakery
django-appconf==1.0.6     # via django-compressor
django-attachments-management==1.2.1  # via -r requirements.in
django-compressor==4.5    # via -r requirements.in, django-libsass
django-easy-autoslug==1.0.4  # via -r requirements.in
django-jinja==2.11.0      # via -r requirements.in
django-libsass==0.9       # via -r requirements.in
django-parler==2.3        # via -r requirements.in
django-pylibmc-threadsafe==1.0.1  # via -r requirements.in
django-tinymce==4.1.0     # via -r requirements.in
django-universal-paginator==1.4.0  # via -r requirements.in
easy-thumbnails==2.8.5    # via -r requirements.in, django-attachments-management
jinja2==3.1.4             # via -r requirements.in, django-jinja
libsass==0.23.0           # via -r requirements.in, django-libsass
lxml==5.2.2               # via -r requirements.in
markupsafe==2.1.5         # via jinja2
model-bakery==1.18.1      # via -r requirements.in
packaging==24.1           # via build
pillow==10.3.0            # via easy-thumbnails
pip-tools==7.4.1          # via -r requirements.in
psycopg2-binary==2.9.9    # via -r requirements.in
pygments==2.18.0          # via -r requirements.in
pylibmc==1.6.3            # via -r requirements.in, django-pylibmc-threadsafe
pyphen==0.15.0            # via -r requirements.in
pyproject-hooks==1.1.0    # via build, pip-tools
rcssmin==1.1.2            # via django-compressor
rjsmin==1.2.2             # via django-compressor
sqlparse==0.5.0           # via django
tomli==2.0.1              # via build, pip-tools
typing-extensions==4.12.2  # via asgiref
wheel==0.43.0             # via pip-tools

# The following packages are considered to be unsafe in a requirements file:
# pip
# setuptools
