django
django-attachments-management
django-compressor
django-easy-autoslug
django-jinja
django-libsass
django-parler
django-universal-paginator
easy_thumbnails<2.8.4
jinja2
libsass
lxml
model_bakery
pip-tools
psycopg2-binary
pygments
