-e git+https://github.com/mireq/django-attachments.git@76fd9a65d88962d20fa13a312c882e2e25b9d6a8#egg=django-attachments
django
django-compressor
django-jinja
django-libsass
django-parler
easy_thumbnails
jinja2
libsass
lxml
pip-tools
psycopg2-binary
pygments
