django
django-attachments-management
django-compressor
django-easy-autoslug
django-jinja
django-libsass
django-parler
django-tinymce
django-universal-paginator
django_pylibmc_threadsafe
easy_thumbnails
jinja2
libsass
lxml
model_bakery
pip-tools
psycopg2-binary
pygments
pylibmc
pyphen
