{% extends "base.html" %}

{% block content %}
<hgroup>
	<h1>{% trans %}About Us{% endtrans %}</h1>
</hgroup>

<section class="users">
	{% for item in object_list %}
		<article class="users__item">
			<div class="users__image">
				{% if item.gallery and item.gallery.primary_attachment %}
					{{ thumbnail_tag(item.gallery.primary_attachment.file, "user_list", attrs={"alt": item, "loading": "lazy"}) }}
				{% endif %}
			</div>
			<div class="users__info">
				<div class="users__subtitle">{{ item|translated_field("subtitle") }}</div>
				<h2>{{ item }}</h2>
				{{ item|translated_field("short_description")|safe }}
			</div>
			<a class="u-full-link" href="{{ item.get_absolute_url() }}" title="{{ item }}"></a>
		</article>
	{% endfor %}
</section>

{{ pagination() }}
{% endblock %}
