{% extends "base.html" %}

{% block head_title %}{{ object.get_page_title() }} | {{ super() }}{% endblock %}
{% block meta_description_tag %}{% include "partials/meta_description.html" %}{% endblock %}
{% block bodyclass %}detail{% endblock %}

{% block content %}
<hgroup>
	<h1>{{ object.get_full_name() }}</h1>

	<div class="info">
		{{ object|translated_field("subtitle") }}
	</div>
</hgroup>

{{ object|translated_field("description")|safe }}

<h2>{% trans %}Posts{% endtrans %}</h2>

<p>
	{% for post in last_posts[:5] %}
		<a href="{{ post.get_absolute_url() }}">{{ post }}</a><br />
	{% endfor %}
	<br /><em><a href="{{ url("blog:user_post_list", pk=object.pk) }}">{% trans %}Show all posts{% endtrans %}</a></em>
</p>

{% endblock %}

{% block footer_links %}
	<a href="{{ url("blog:user_feed", user_id=object.pk) }}">{% trans %}RSS{% endtrans %}</a>
{% endblock %}
