@font-face {
	font-family: 'FiraSansCondensed';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: local('FiraSansCondensed Bold'), local('FiraSansCondensed-Bold'), local('Fira Sans Condensed'), local('FiraSansCondensed'),
		url(static('fonts/FiraSansCondensed/FiraSansCondensed-Bold.woff2')) format('woff2'),
		url(static('fonts/FiraSansCondensed/FiraSansCondensed-Bold.woff')) format('woff');
}
