<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>{% trans %}Attachments{% endtrans %}</title>
		{% compress css file style %}
			<link rel="stylesheet" type="text/x-scss" href="{{ static("css/filebrowser.scss") }}" />
		{% endcompress %}
	</head>
	<body>
		<main id="files" class="files">
			{% for file in object_list %}
				<div class="files__item" data-url="{{ file.file.url }}" data-name="{{ file }}" title="{{ file }}">
					<div class="files__thumbnail">
						{% if file.image_width %}
							{{ thumbnail_tag(file.file, "attachment_browser", attrs={"alt": file, "width": "256", "height": "256"}) }}
						{% else %}
							<img src="{{ static("django_attachments/img/mimetypes/application/octet-stream.svg") }}" alt="{{ file }}" />
						{% endif %}
					</div>
					<div class="files__name"><span>{{ file }}</span></div>
				</div>
			{% else %}
				<div class="files__none">{% trans %}No uploaded files{% endtrans %}</div>
			{% endfor %}
		</main>
	</body>
	<script charset="utf-8">

document.getElementById('files').onclick = function(e) {
	var target = e.target;
	var url = target.dataset.url;
	if (url === undefined) {
		target = target.closest('[data-url]');
		if (target === null) {
			return false;
		}
	}

	var data = target.dataset;
	data = JSON.parse(JSON.stringify(data));

	window.parent.postMessage({
		mceAction: 'selectFile',
		data: data
	}, origin);

	return false;
}

	</script>
</html>
