html {
	font-size: 14px;
	font-weight: normal;
}
body{
	column-count: 2;
	background: white;
	color: black;
}
hr, h1, h2, h3, h4, h5, h6 {
	color: black;
}
table, thead, tbody, tfoot {
	border-color: black;
}
hgroup h1 {
	margin-top: 0;
	margin-bottom: 1rem;
}

main {
	padding: 0;
	overflow: hidden;
}

p {
	text-align: justify;
}

body > header, body > footer {
	display: none;
}

pre {
	white-space: pre-wrap;
}

.u-nowrap {
	white-space: pre-wrap;
}

b,
strong {
	font-weight: bold;
}

/* Single column
.u-float-left {
	float: left;
	position: relative;
	margin-left: -3rem;
	left: -1rem;
}
.u-float-right {
	float: right;
	position: relative;
	margin-right: -3rem;
	left: 1rem;
}
.u-float-center {
	margin-left: auto;
	margin-right: auto;
}
*/

pre {
	background: white;
	color: black;

	$dt-gray: #44475a; // Current Line & Selection
	$dt-gray-light: #222222; // Foreground
	$dt-blue: #455174; // Comment
	$dt-cyan: #5fa0ad;
	$dt-green: #31994b;
	$dt-orange: #c68f54;
	$dt-pink: #ad5287;
	$dt-purple: #8b6db8;
	$dt-red: #dc4949;
	$dt-yellow: #8c9051;

	.hll,
	.s,
	.sa,
	.sb,
	.sc,
	.dl,
	.sd,
	.s2,
	.se,
	.sh,
	.si,
	.sx,
	.sr,
	.s1,
	.ss {
		color: $dt-yellow;
	}

	.go {
		color: $dt-gray;
	}

	.err,
	.g,
	.l,
	.n,
	.x,
	.p,
	.ge,
	.gr,
	.gh,
	.gi,
	.gp,
	.gs,
	.gu,
	.gt,
	.ld,
	.no,
	.nd,
	.ni,
	.ne,
	.nn,
	.nx,
	.py,
	.w,
	.bp {
		color: $dt-gray-light;
	}

	.gh,
	.gi,
	.gu {
		font-weight: 900;
	}

	.ge {
		text-decoration: underline;
	}

	.bp {
		font-style: italic;
	}

	.c,
	.ch,
	.cm,
	.cpf,
	.c1,
	.cs {
		color: $dt-blue;
	}

	.kd,
	.kt,
	.nb,
	.nl,
	.nv,
	.vc,
	.vg,
	.vi,
	.vm {
		color: $dt-cyan;
	}

	.kd,
	.nb,
	.nl,
	.nv,
	.vc,
	.vg,
	.vi,
	.vm {
		font-style: italic;
	}

	.na,
	.nc,
	.nf,
	.fm {
		color: $dt-green;
	}

	.k,
	.o,
	.cp,
	.kc,
	.kn,
	.kp,
	.kr,
	.nt,
	.ow {
		color: $dt-pink;
	}

	.m,
	.mb,
	.mf,
	.mh,
	.mi,
	.mo,
	.il {
		color: $dt-purple;
	}

	.gd {
		color: $dt-red;
	}
}
