/*
Gutenberg: A Meaningful Web Typography Starter Kit
Website ....... http://matejlatin.github.io/Gutenberg/
Version ....... 1.2.3
Github ........ https://github.com/matejlatin/Gutenberg
Authors ....... Matej Latin (@matejlatin)
License ....... Creative Commmons Attribution 3.0
License URL ... https://raw.githubusercontent.com/matejlatin/Gutenberg/master/license.txt
*/

@import "../fonts/FiraSansCondensed/_fonts";
@import "../fonts/Merriweather/_fonts";
@import "../fonts/FiraCode/_fonts";
@import "svg";

$font-body: 'Merriweather', Georgia, serif;
$font-header: 'FiraSansCondensed', sans-serif;
$font-menu: 'FiraSansCondensed', sans-serif;

$base-font-size: 100%;
$base-font-size-desktop: 112.5%;

$line-height: 1.625;
$line-height-desktop: 1.7;

$max-width: 48em;

$base: 16px * $base-font-size / 100%;
$leading: round($base * $line-height);
$leading-rem: $leading / $base * 1rem;

$base-desktop: 16px * $base-font-size-desktop / 100%;
$leading-desktop: round($base-desktop * $line-height-desktop);
$leading-rem-desktop: $leading-desktop / $base-desktop * 1rem;

// Colors
$palette-light: (
	"primary": #e64c43,
	"background-body": #fff,
	"font-body": #222,
	"font-headings": #222,
	"link-normal": #222,
	"link-hover": #fff,
	"link-hover-background": #e64c43,
	"link-active": #222,
	"border-light": #ddd,
);
$palette-dark: (
	"primary": #e64c43,
	"background-body": #161820,
	"font-body": #ddd,
	"font-headings": #ddd,
	"link-normal": #ddd,
	"link-hover": #fff,
	"link-hover-background": #e64c43,
	"link-active": #888,
	"border-light": #888,
);

$headings: (
	h1: (2.5, 2, 4, 1),
	h2: (1.6875, 1.5, 2.5, .5),
	h3: (1.375, 1, 2, .5),
	h4: (1.2, 1, 1.5, .5),
	h5: (1, 1, 2.5, .5),
	h6: (1, 1, 2.5, .5)
);

%large-shadow {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
		0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
		0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

@mixin large-screen {
	@media screen and (min-width: #{ $max-width + 10em }) {
		@content;
	}
}

@mixin tiny-scrollbar($handle-color, $background-color) {
	scrollbar-color: $handle-color $background-color;
	scrollbar-width: thin;
	scrollbar-gutter: stable;
	&::-webkit-scrollbar-track {
		background-color: $background-color;
	}
	&::-webkit-scrollbar {
		width: 6px;
		height: 6px;
		background-color: $background-color;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $handle-color;
		border-top: 1px solid $background-color;
		border-bottom: 1px solid $background-color;
	}
}

@import "highlight";

/* Defaults
   ========================================================================== */

body {
	margin: 0;
}

html {
	box-sizing: border-box;
	font-size: $base;
	font-family: $font-body;
}

* {
	line-height: $line-height;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

main {
	max-width: $max-width;
	margin: .5rem auto 1rem auto;
	padding: 0 1rem;
}

pre {
	padding: 1rem;
	font-size: 75%;
	line-height: 1.4;
	border-radius: 6px;
	font-weight: 500;
	tab-size: 2;
	overflow-x: scroll;

	strong {
		background: #ffff0040;
		font-weight: 900;
	}
	em {
		background: #00ff0040;
	}

	* {
		line-height: 1.4;
	}
}

p {
	margin: 0 0 1.625rem;
}

code,
kbd,
pre,
samp {
	font-family: 'FiraCode', monospace
}

blockquote {
	margin: 0 0 1rem .5rem;
	padding-left: 1rem;
	font-style: italic;
	border-left: 3px solid rgba(#888, 0.2);
	p {
		margin: 0;
	}
	p + p {
		margin-top: 1rem;
	}
}

a {
	background: transparent;

	&:active,
	&:hover {
		outline: 0;
	}
}

.u-uppercase {
	letter-spacing: .1em;
	text-transform: uppercase;
	font-size: 80%;
}

.u-nowrap {
	white-space: nowrap;
}

.u-align-left {
	text-align: left;
}
.u-align-center {
	text-align: center;
}
.u-align-right {
	text-align: right;
}
.u-hidden-checkbox {
	z-index: -1;
	opacity: 0;
	position: absolute;
}

img, picture {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

figure {
	margin-left: auto;
	margin-right: auto;
}

figcaption {
	font-style: italic;
	font-size: 80%;
	line-height: $line-height;
	text-align: center;
	margin-bottom: 0;
}

@each $heading, $properties in $headings {
	#{$heading} {
		font-size: nth($properties, 1) * 1rem;
		line-height: nth($properties, 2);
		margin-top: nth($properties, 3) * 1rem;
		margin-bottom: nth($properties, 4) * 1rem;
	}
}

h1 + h2 {
	margin-top: 1rem;
}

h2 + h3,
h3 + h4,
h4 + h5 {
	margin-top: .5rem;
}

h5 + h6 {
	margin-top: -.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-header;
	font-weight: bold;
}

hgroup {
	margin-bottom: 4rem;

	h1 {
		font-size: 3rem;
		text-align: center;
		margin-bottom: 2rem;
	}

	p {
		font-size: 120%;
		line-height: 1.5;
	}

	.info {
		text-align: center;
		margin: 1rem 0 2rem 0;
		font-style: italic;
	}

	address {
		display: inline;
		&:before {
			content: '    ·    ';
		}
	}
}

header {
	font-family: $font-menu;

	ul {
		padding: 80px 0 0 0;
		margin: 0;
		list-style: none;
		font-size: 1.5rem;
		overflow-y: auto;
		position: fixed;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		z-index: 1000;
		max-width: 14rem;
		transform: translateX(14rem);
		visibility: hidden;
		transition: visibility 0.3s linear, transform 0.3s ease;
		@extend %large-shadow;

		a {
			display: block;
			text-decoration: none;
			padding: .25rem 1rem;
			text-align: right;
		}
	}

	li:first-child {
		text-transform: uppercase;
		line-height: 80px;
		height: 80px;
		text-align: right;
		font-weight: bold;
		padding: 0 1rem;
		position: fixed;
		width: 100%;
		max-width: 14rem;
		top: 0;
		right: 0;
		background: map-get($palette-light, "link-hover-background");
		color: map-get($palette-light, "link-hover");
	}

	nav {
		max-width: $max-width;
		padding: 30px 1rem 25px 1rem;
		margin: 0 auto;
		border-bottom: 1px solid;
	}
}

hr {
	text-align: center;
	display: block;
	border: 0;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	height: 1.5rem;
	&:before {
		content: "···";
		letter-spacing: 1em;
	}
}

img {
	border: 0;
	max-width: 100%;
	display: block;
	margin: inherit auto;
}

ul,
ol {
	margin-bottom: .5rem;
	li {
		margin-bottom: 0;
	}
}

table {
	width: 100%;
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 1em;
}

th {
	text-align: left;
	font-weight: bold;
}

td, th {
	vertical-align: top;
}

thead {
	border-bottom: 1px solid;
}

tfoot {
	border-top: 1px solid;
}

br {
	margin: 0;
}

dt {
	font-weight: bold;
	margin: 0;
}

dd {
	padding-left: 2em;
	margin: 0;
}

code {
	display: inline;
	padding: 0;
	margin: 0;
	background: #eee;
}

table, img, figure {
	page-break-inside: avoid;
}

br {
	margin-bottom: 0;
}

abbr {
	letter-spacing: 0.1em;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

em,
i {
	line-height: 0;
	vertical-align: baseline;
}

small {
	font-size: 70%;
	line-height: 1.4;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

.logo {
	color: transparent;
	display: block;
	overflow: hidden;
	text-indent: 9999px;
	&:hover, &:visited:hover {
		background-color: transparent;
	}
}

.toggle-menu {
	display: block;
	position: relative;
	width: 50px;
	height: 50px;
	float: right;
	margin-right: -10px;
	margin-top: -15px;
	cursor: pointer;
	&:before {
		content: "";
		position: absolute;
		left: 10px;
		top: 12px;
		width: 30px;
		height: 5px;
		border-radius: 2px;
	}
}

.page-overlay {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: rgba(#000, 0.25);
	visibility: hidden;
	backdrop-filter: blur(1px);
}

div.table {
	overflow-x: auto;
}

#main_menu_visible:checked ~ header {
	ul {
		transform: translateX(0);
		visibility: visible;
	}
}
#main_menu_visible:checked ~ .page-overlay {
	visibility: visible;
}

@mixin palette($palette, $body: true) {
	$font-color: map-get($palette, "font-body");
	@if $body {
		body {
			background-color: map-get($palette, "background-body");
			color: map-get($palette, "font-body");
			@include tiny-scrollbar(map-get($palette, "font-body"), map-get($palette, "background-body"));
		}
	}
	@else {
		background-color: map-get($palette, "background-body");
		color: map-get($palette, "font-body");
		@include tiny-scrollbar(map-get($palette, "font-body"), map-get($palette, "background-body"));
	}

	a {
		color: map-get($palette, "link-normal");
		&:hover {
			color: map-get($palette, "link-hover");
			background-color: map-get($palette, "link-hover-background");
		}

		&:active {
			color: map-get($palette, "link-active");
		}
	}
	header {
		ul {
			background-color: map-get($palette, "background-body");
		}
		li:first-child {
			border-bottom: 1px solid map-get($palette, "background-body");
		}
		a {
			color: $font-color;
		}
		nav {
			border-color: map-get($palette, "border-light");
		}
	}
	hr {
		color: map-get($palette, "font-body");
	}
	table, thead, tbody, tfoot {
		border-color: map-get($palette, "font-body");
	}
	h1, h2, h3, h4, h5, h6 {
		color: map-get($palette, "font-headings");
	}
	.logo {
		@include svg('img/logo.svg', "svg { color: #{$font-color}; }", $height: 24px);
	}

	.toggle-menu:before {
		background: $font-color;
		box-shadow:
			0 10px 0 0 $font-color,
			0 20px 0 0 $font-color;
	}

	@include large-screen {
		header li a:hover {
			color: map-get($palette, "primary");
		}
	}
}

@include palette($palette-light);

@media (prefers-color-scheme: dark) {
	body {
		@include palette($palette-dark, $body: false);
	}
}

@media screen {
	body.dark-theme {
		@include palette($palette-dark, $body: false);
	}
	body.light-theme {
		@include palette($palette-light, $body: false);
	}
}

@include large-screen {
	body,
	html {
		margin: 0;
		width: 100%;
		max-width: none;
	}

	html {
		font-size: $base-desktop;
	}

	* {
		line-height: $line-height-desktop;
	}

	main {
		padding: 0 2rem;
	}

	pre {
		width: 100vw;
		max-width: calc(min(80rem, 100vw - 4rem));
		margin-left: 50%;
		transform: translateX(-50%);
		position: relative;
		tab-size: 4;
		font-size: 80%;
	}

	header {
		ul {
			padding-top: 88px;
		}
		li:first-child {
			line-height: 88px;
			height: 88px;
		}
		ul {
			margin: -16px -1rem 0 0;
			padding: 0;
			position: static;
			float: right;
			z-index: unset;
			box-shadow: none;
			transition: none;
			transform: none;
			visibility: visible;
			max-width: unset;
			width: auto;
			overflow: visible;
		}
		li:first-child {
			display: none;
		}
		li {
			text-align: left;
			display: inline-block;
			padding: 0;
			a {
				line-height: 66px;
				height: 66px;
				padding: 0 1rem;
				&:hover {
					background: transparent;
				}
			}
		}
	}

	.table.table--wide {
		width: 100vw;
		max-width: calc(min(60rem, 100vw - 4rem));
		margin-left: 50%;
		transform: translateX(-50%);
		position: relative;
	}

	.u-float-left {
		float: left;
		position: relative;
		margin-left: -3rem;
		left: -1rem;
	}
	.u-float-right {
		float: right;
		position: relative;
		margin-right: -3rem;
		left: 1rem;
	}
	.u-float-center {
		margin-left: auto;
		margin-right: auto;
	}

	figcaption {
		line-height: $line-height-desktop;
	}

	body .logo {
		@include svg-geometry('img/logo.svg');
	}

	.toggle-menu {
		display: none;
	}

	#main_menu_visible:checked ~ .page-overlay {
		visibility: hidden;
	}
}

@media print {
	html {
		font-size: 14px;
	}
	body{
		column-count: 2;
		background: white;
		color: black;
	}
	hr, h1, h2, h3, h4, h5, h6 {
		color: black;
	}
	table, thead, tbody, tfoot {
		border-color: black;
	}
	hgroup h1 {
		margin-top: 0;
		margin-bottom: 1rem;
	}

	main {
		padding: 0;
		overflow: hidden;
	}

	p {
		text-align: justify;
	}

	body > header, body > footer {
		display: none;
	}

	pre {
		white-space: pre-wrap;
	}

	/* Single column
	.u-float-left {
		float: left;
		position: relative;
		margin-left: -3rem;
		left: -1rem;
	}
	.u-float-right {
		float: right;
		position: relative;
		margin-right: -3rem;
		left: 1rem;
	}
	.u-float-center {
		margin-left: auto;
		margin-right: auto;
	}
	*/
}
