/*
Gutenberg: A Meaningful Web Typography Starter Kit
Website ....... http://matejlatin.github.io/Gutenberg/
Version ....... 1.2.3
Github ........ https://github.com/matejlatin/Gutenberg
Authors ....... Matej Latin (@matejlatin)
License ....... Creative Commmons Attribution 3.0
License URL ... https://raw.githubusercontent.com/matejlatin/Gutenberg/master/license.txt
*/

$content_only: false !default;

@import "../fonts/FiraSansCondensed/_fonts";
@import "../fonts/Lora/_fonts";
@import "../fonts/FiraCode/_fonts";
@import "svg";

$font-body: 'Lora', Georgia, serif;
$font-header: 'FiraSansCondensed', sans-serif;
$font-menu: 'FiraSansCondensed', sans-serif;

$base-font-size: 100%;
$base-font-size-desktop: 112.5%;

$line-height: 1.625;
$line-height-desktop: 1.7;

$max-width: 1200px;
$max-width-detail: 768px;

$base: 16px * $base-font-size / 100%;
$leading: round($base * $line-height);
$leading-rem: $leading / $base * 1rem;

$base-desktop: 16px * $base-font-size-desktop / 100%;
$leading-desktop: round($base-desktop * $line-height-desktop);
$leading-rem-desktop: $leading-desktop / $base-desktop * 1rem;

// Colors
$palette-light: (
	"primary": #e64c43,
	"background-body": #fff,
	"font-body": #222,
	"font-headings": #222,
	"link-normal": #222,
	"link-hover": #fff,
	"link-hover-background": #e64c43,
	"link-active": #222,
	"border-light": #ddd,
);
$palette-dark: (
	"primary": #e64c43,
	"background-body": #161820,
	"font-body": #ddd,
	"font-headings": #ddd,
	"link-normal": #ddd,
	"link-hover": #fff,
	"link-hover-background": #e64c43,
	"link-active": #888,
	"border-light": #888,
);

// Default palette
$palette: $palette-light;
$font-color: map-get($palette, "font-body");
$background-color: map-get($palette, "background-body");

$headings: (
	h1: (2.5, 2, 4, 1),
	h2: (1.6875, 1.5, 2.5, .5),
	h3: (1.375, 1, 2, .5),
	h4: (1.2, 1, 1.5, .5),
	h5: (1, 1, 2.5, .5),
	h6: (1, 1, 2.5, .5)
);

%clearfix {
	&:before, &:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin medium-screen {
	@media screen and (min-width: 560px) {
		@content;
	}
}

@mixin large-screen {
	@media screen and (min-width: #{ $max-width-detail + 32px }) {
		@content;
	}
}

@mixin x-large-screen {
	@media screen and (min-width: #{ $max-width - 64px }) {
		@content;
	}
}

@mixin tiny-scrollbar($handle-color, $background-color) {
	scrollbar-color: $handle-color $background-color;
	scrollbar-width: thin;
	scrollbar-gutter: stable;
	&::-webkit-scrollbar-track {
		background-color: $background-color;
	}
	&::-webkit-scrollbar {
		width: 6px;
		height: 6px;
		background-color: $background-color;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $handle-color;
		border-top: 1px solid $background-color;
		border-bottom: 1px solid $background-color;
	}
}

@import "highlight";

/* Defaults
   ========================================================================== */

body {
	margin: 0;
}

html {
	box-sizing: border-box;
	font-size: $base;
	font-family: $font-body;
	font-weight: 500;
	background-color: $background-color;
	color: $font-color;
	@include tiny-scrollbar($font-color, $background-color);
}

* {
	line-height: $line-height;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

main {
	max-width: $max-width;
	margin: 1rem auto;
	padding: 0 1rem;
}

.detail main {
	max-width: $max-width-detail;
}

p {
	margin: 0 0 1.625rem;
}

code,
kbd,
pre,
samp {
	font-family: 'FiraCode', monospace
}

blockquote {
	margin: 0 0 1rem .5rem;
	padding-left: 1rem;
	font-style: italic;
	border-left: 3px solid rgba(#888, 0.2);
	p {
		margin: 0;
	}
	p + p {
		margin-top: 1rem;
	}
}

a {
	background: transparent;
	color: map-get($palette, "link-normal");

	&:active,
	&:hover {
		outline: 0;
		color: map-get($palette, "link-hover");
		background-color: map-get($palette, "link-hover-background");
	}

	&:active {
		color: map-get($palette, "link-active");
	}
}

.u-uppercase {
	letter-spacing: .1em;
	text-transform: uppercase;
	font-size: 80%;
}

.u-align-left {
	text-align: left;
}
.u-align-center {
	text-align: center;
}
.u-align-right {
	text-align: right;
}
.u-nowrap {
	white-space: pre;
}
.u-hidden-checkbox {
	z-index: -1;
	opacity: 0;
	position: absolute;
}
.u-hidden {
	display: none;
}
.u-full-link {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	&:hover, &:visited:hover {
		background-color: transparent;
	}
}

img, picture {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

figure {
	margin-left: auto;
	margin-right: auto;
}

figcaption {
	font-style: italic;
	font-size: 80%;
	line-height: $line-height;
	text-align: center;
	margin-bottom: 0;
}

@each $heading, $properties in $headings {
	#{$heading} {
		font-size: nth($properties, 1) * 1rem;
		line-height: nth($properties, 2);
		margin-top: nth($properties, 3) * 1rem;
		margin-bottom: nth($properties, 4) * 1rem;
	}
}

h1 + h2 {
	margin-top: 1rem;
}

h2 + h3,
h3 + h4,
h4 + h5 {
	margin-top: .5rem;
}

h5 + h6 {
	margin-top: -.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-header;
	font-weight: bold;
	color: map-get($palette, "font-headings");
}

hgroup {
	margin-bottom: 4rem;

	h1 {
		font-size: 3rem;
		text-align: center;
		margin-bottom: 2rem;
	}

	p {
		font-size: 120%;
		line-height: 1.5;
	}

	.info {
		text-align: center;
		margin: 1rem 0 2rem 0;
		font-style: italic;
	}

	address, .words {
		display: inline;
		&:before {
			content: '   ·   ';
		}
	}
}

header {
	font-family: $font-menu;
	font-weight: bold;


	nav {
		max-width: $max-width;
		padding: 1rem;
		margin: 0 auto;
		border-bottom: 1px solid map-get($palette, "border-light");
	}
}

.main-menu {
	padding: 80px 0 0 0;
	margin: 0;
	list-style: none;
	font-size: 1.5rem;
	overflow-y: auto;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	z-index: 1000;
	max-width: 14rem;
	transform: translateX(14rem);
	background: map-get($palette, "background-body");
	visibility: hidden;
	transition: visibility 0.3s linear, transform 0.3s ease;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
		0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
		0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);

	label {
		cursor: pointer;
		display: block;
		text-transform: uppercase;
		box-sizing: content-box;
		height: 40px;
		line-height: 40px;
		text-align: right;
		font-weight: bold;
		padding: 1rem;
		position: fixed;
		width: auto;
		max-width: 14rem;
		top: 0;
		right: 0;
		left: 0;
		vertical-align: middle;
		background: map-get($palette-light, "link-hover-background");
		border-bottom: 1px solid map-get($palette, "background-body");
		color: map-get($palette-light, "link-hover");
		&:before {
			content: '>';
			float: left;
			font-weight: normal;
		}
	}

	a {
		display: block;
		text-decoration: none;
		padding: .25rem 1rem;
		text-align: right;
		font-weight: bold;
		color: $font-color;
		&:hover {
			color: map-get($palette, "link-hover");
		}
	}
}


hr {
	text-align: center;
	display: block;
	border: 0;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	height: 1.5rem;
	color: map-get($palette, "font-body");
	&:before {
		content: "···";
		letter-spacing: 1em;
	}
}

img {
	border: 0;
	max-width: 100%;
	height: auto;
	display: block;
	margin: inherit auto;
}

ul,
ol {
	margin-bottom: .5rem;
}

li {
	margin-bottom: 0;
}

table {
	width: 100%;
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 1em;
}

table, thead, tbody, tfoot {
	border-color: map-get($palette, "font-body");
}

th {
	text-align: left;
	font-weight: bold;
}

td, th {
	vertical-align: top;
}

thead {
	border-bottom: 1px solid;
}

tfoot {
	border-top: 1px solid;
}

dt {
	font-weight: bold;
	margin: 0;
}

dd {
	padding-left: 2em;
	margin: 0;
}

code {
	display: inline;
	padding: 0;
	margin: 0;
	background: rgba($font-color, 0.1);
}

table, img, figure {
	page-break-inside: avoid;
}

br {
	margin: 0;
}

abbr {
	letter-spacing: 0.1em;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: 900;
}

dfn {
	font-style: italic;
}

em,
i {
	line-height: 0;
	vertical-align: baseline;
}

small {
	font-size: 70%;
	line-height: 1.4;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

.logo {
	color: transparent;
	display: block;
	overflow: hidden;
	text-indent: 9999px;
	height: 40px;
	padding: 0;
	&:before {
		content: '';
		display: block;
		position: absolute;
		margin-top: (40px - 24px)/2 + 2px;
		@include svg('img/logo.svg', "svg { color: #{$font-color}; }", $height: 24px);
	}
	&:hover, &:visited:hover {
		background-color: transparent;
	}
}

.toggle-menu {
	display: block;
	position: relative;
	width: 40px;
	height: 40px;
	float: right;
	margin-right: -9px;
	cursor: pointer;
	&:before {
		content: "";
		position: absolute;
		left: 9px;
		top: 11px;
		width: 22px;
		height: 3px;
		border-radius: 1px;
		background: $font-color;
		box-shadow:
			0 8px 0 0 $font-color,
			0 16px 0 0 $font-color;
	}
}

.toggle-dark {
	display: block;
	float: right;
	position: relative;
	width: 40px;
	height: 40px;
	border: 0;
	background: transparent;
	cursor: pointer;
	&:before {
		content: "";
		position: absolute;
		display: block;
		left: 10px;
		top: 10px;
		@include svg('img/sun-solid.svg', "svg { color: #{$font-color}; }", $height: 20px);
	}
}

.page-overlay {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: rgba(#000, 0.25);
	visibility: hidden;
	backdrop-filter: blur(1px);
}

#main_menu_visible:checked ~ header {
	ul {
		transform: translateX(0);
		visibility: visible;
	}
}
#main_menu_visible:checked ~ .page-overlay {
	visibility: visible;
}

.articles {
	$self: &;

	h2 a {
		text-decoration: none;
	}

	title, address {
		display: inline;
	}

	address, .words {
		&:before {
			content: '   ·   ';
		}
	}

	a[rel=author] {
		position: relative;
		z-index: 1;
	}

	&__image {
		position: relative;
		background: rgba(#888, 0.2);
		padding-bottom: 68.75%;
		img, picture {
			width: 100%;
			position: absolute;
		}
	}

	&__item {
		margin-bottom: 1rem;
		position: relative;
		@extend %clearfix;
	}

	&__info {
		padding: .5rem 0 1rem 0;

		h2 {
			margin-top: .5rem;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
}

.users {
	&__item {
		position: relative;
	}

	&__image {
		position: relative;
		background: rgba(#888, 0.2);
		aspect-ratio: 1;
		img, picture {
			width: 100%;
			position: absolute;
		}
	}

	&__subtitle {
		margin-top: .5rem;
		opacity: .75;
		font-style: italic;
	}

	h2 {
		margin-top: .5rem;
	}
}

.pagination {
	ul {
		list-style: none;
		margin: .5rem 0;
		padding: .5rem 0;
		border-top: 1px solid map-get($palette, "border-light");
		@extend %clearfix;
	}
	a {
		text-decoration: none;
	}
}

@mixin palette($palette, $html: false) {
	$font-color: map-get($palette, "font-body");
	$background-color: map-get($palette, "background-body");
	@if $html {
		background-color: $background-color;
		color: $font-color;
		@include tiny-scrollbar($font-color, $background-color);
	}
	@else {
		html {
			background-color: $background-color;
			color: $font-color;
			@include tiny-scrollbar($font-color, $background-color);
		}
	}

	a {
		color: map-get($palette, "link-normal");
		&:hover {
			color: map-get($palette, "link-hover");
			background-color: map-get($palette, "link-hover-background");
		}

		&:active {
			color: map-get($palette, "link-active");
		}
	}
	header {
		nav {
			border-color: map-get($palette, "border-light");
		}
	}
	.main-menu {
		background-color: map-get($palette, "background-body");
		label {
			border-bottom-color: map-get($palette, "background-body");
		}
		a {
			color: $font-color;
		}
	}
	hr {
		color: map-get($palette, "font-body");
	}
	table, thead, tbody, tfoot {
		border-color: map-get($palette, "font-body");
	}
	h1, h2, h3, h4, h5, h6 {
		color: map-get($palette, "font-headings");
	}
	code {
		background: rgba($font-color, 0.1);
	}
	.logo {
		&:before {
			@include svg('img/logo.svg', "svg { color: #{$font-color}; }", $height: 24px);
		}
		&:hover, &:visited:hover {
			background-color: transparent;
		}
	}
	.toggle-dark:before {
		@include svg('img/sun-solid.svg', "svg { color: #{$font-color}; }", $height: 20px);
	}

	.toggle-menu:before {
		background: $font-color;
		box-shadow:
			0 8px 0 0 $font-color,
			0 16px 0 0 $font-color;
	}

	.pagination ul {
		border-top: 1px solid map-get($palette, "border-light");
	}

	.u-full-link {
		&:hover, &:visited:hover {
			background-color: transparent;
		}
	}

	@include medium-screen {
		.toggle-dark:before {
			@include svg-geometry('img/sun-solid.svg', $height: 30px);
		}
		.main-menu a:hover {
			background: transparent;
			color: map-get($palette-light, "primary");
		}
		.articles__item--first .articles__info {
			background-color: map-get($palette, "background-body");
		}
	}
}

@if not ($content_only) {

/*
@media (prefers-color-scheme: dark) {
	@include palette($palette-dark);
}
*/

@media (prefers-reduced-motion) {
	*, [class] {
		transition: none;
	}
}

body.no-animate * {
	transition: none;
}


@media screen {
	.dark-mode {
		@include palette($palette-dark, $html: true);
	}
	/*
	body.light-theme {
		@include palette($palette-light, $body: false);
	}
	*/
}

@include medium-screen {
	body,
	html {
		margin: 0;
		width: 100%;
		max-width: none;
	}

	main {
		margin: 2rem auto;
		padding: 0 2rem;
	}

	.articles {
		margin-left: -1rem;
		margin-right: -1rem;
		display: flex;
		flex-wrap: wrap;

		&__item {
			width: 50%;
			padding: 0 1rem;
			margin-bottom: 2rem;
		}
	}

	header {
		nav {
			padding: 1rem 2rem;
		}
	}

	.main-menu {
		padding: 0;
		margin: -1rem -1rem 0 0;
		position: static;
		float: right;
		z-index: unset;
		box-shadow: none;
		transition: none;
		transform: none;
		visibility: visible;
		max-width: unset;
		overflow: visible;
		width: auto;
		li {
			text-align: left;
			display: inline-block;
			padding: 0;
			a {
				line-height: 40px;
				height: 40px;
				padding: 1rem;
				box-sizing: content-box;
			}
		}
		li:first-child {
			display: none;
		}
	}

	.toggle-menu {
		display: none;
	}

	.toggle-dark {
		margin-left: 1rem;
		&:before {
			top: 5px;
			left: 5px;
		}
	}

	#main_menu_visible:checked ~ .page-overlay {
		visibility: hidden;
	}

	.pagination {
		&__item {
			&--previous {
				float: left;
			}
			&--next {
				float: right;
			}
		}
	}

	.toggle-dark:before {
		@include svg-geometry('img/sun-solid.svg', $height: 30px);
	}
	.main-menu a:hover {
		background: transparent;
		color: map-get($palette-light, "primary");
	}
	.articles__item--first .articles__info {
		background-color: map-get($palette, "background-body");
	}
}

@include large-screen {
	html {
		font-size: $base-desktop;
	}

	* {
		line-height: $line-height-desktop;
	}

	pre {
		font-size: 66.66667%;
	}

	pre.u-wide {
		font-size: 80%;
	}

	.u-wide {
		width: 100vw;
		max-width: calc(min(1200px, 100vw - 4rem));
		margin-left: 50%;
		transform: translateX(-50%);
		position: relative;
	}

	.u-float-left {
		float: left;
		position: relative;
		margin-left: -3rem;
		left: -1rem;
	}
	.u-float-right {
		float: right;
		position: relative;
		margin-right: -3rem;
		left: 1rem;
	}
	.u-float-center {
		margin-left: auto;
		margin-right: auto;
	}

	figcaption {
		line-height: $line-height-desktop;
	}

	.users {
		margin-left: -1rem;
		margin-right: -1rem;

		&__item {
			display: flex;
			margin-bottom: 2rem;
			align-items: start;
			flex-direction: row;
			&:nth-child(2n) {
				flex-direction: row-reverse;
			}
		}
		&__image, &__info {
			width: 100%;
			margin: 1rem;
		}
	}

	.main-menu {
		li {
			a {
				line-height: 50px;
				height: 50px;
			}
		}
	}

	.toggle-dark {
		width: 50px;
		height: 50px;
		&:before {
			left: 10px;
			top: 10px;
		}
	}

	.logo {
		height: 50px;
		&:before {
			margin-top: (50px - svg-height('img/logo.svg'))/2 + 2px;
			@include svg-geometry('img/logo.svg');
		}
	}
}

@include x-large-screen {
	.articles__item--first {
		$self: '.articles';
		width: 100%;
		display: flex;
		align-items: end;
		#{$self}__image {
			width: 40%;
			flex: 0 0 auto;
			position: static;
			padding: 0;
			img, picture {
				width: 828px;
				position: static;
			}
		}
		#{$self}__info {
			width: 60%;
			flex: 0 0 auto;
			padding: 1rem;
		}
	}
}

}
