/*
Gutenberg: A Meaningful Web Typography Starter Kit
Website ....... http://matejlatin.github.io/Gutenberg/
Version ....... 1.2.3
Github ........ https://github.com/matejlatin/Gutenberg
Authors ....... Matej Latin (@matejlatin)
License ....... Creative Commmons Attribution 3.0
License URL ... https://raw.githubusercontent.com/matejlatin/Gutenberg/master/license.txt
*/

@import "../fonts/FiraSansCondensed/_fonts";
@import "../fonts/Merriweather/_fonts";

$font-body: Merriweather, Georgia, serif;

$base-font-size: 100%;
$base-font-size-desktop: 112.5%;

$line-height: 1.625;
$line-height-desktop: 1.7;

$max-width: 40em;

$base: 16px * $base-font-size / 100%;
$leading: round($base * $line-height);
$leading-rem: $leading / $base * 1rem;

$base-desktop: 16px * $base-font-size-desktop / 100%;
$leading-desktop: round($base-desktop * $line-height-desktop);
$leading-rem-desktop: $leading-desktop / $base-desktop * 1rem;

// Colors
$color-font-body: #222;
$color-font-headings: $color-font-body;
$color-font-light: #888;
$color-font-figcaption: $color-font-body;

@mixin large-screen {
	@media screen and (min-width: #{ $max-width + 5em }) {
		@content;
	}
}

/* Defaults
   ========================================================================== */

body {
	margin: 0;
}

html {
	box-sizing: border-box;
	font-size: $base;
	font-family: $font-body;
	color: $color-font-body;
}

pre {
	line-height: $leading-rem;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

main {
	max-width: $max-width;
	margin: 0 auto;
	padding: 0 1rem;
}

pre {
	border: 1px solid #eee;
	background: #f8f8f8;
	padding: 8px;
	font-size: 70%;
	line-height: 1.4;
	white-space: pre-wrap;

	* {
		line-height: 1.4;
	}
}

.u-uppercase {
	letter-spacing: .1em;
	text-transform: uppercase;
	font-size: 80%;
}

@include large-screen {
	body,
	html {
		margin: 0;
		width: 100%;
		max-width: none;
	}

	html {
		font-size: $base-desktop;
	}

	* {
		line-height: $leading-rem-desktop;
	}

	pre {
		width: 100vw;
		max-width: calc(min(80rem, 100vw - 2rem));
		margin-left: 50%;
		transform: translateX(-50%);
		position: relative;
	}

	.u-float-left {
		float: left;
		position: relative;
		margin-left: -3rem;
		left: -1rem;
	}
	.u-float-right {
		float: right;
		position: relative;
		margin-right: -3rem;
		left: 1rem;
	}
	.u-float-center {
		margin-left: auto;
		margin-right: auto;
	}
}

