/*
Gutenberg: A Meaningful Web Typography Starter Kit
Website ....... http://matejlatin.github.io/Gutenberg/
Version ....... 1.2.3
Github ........ https://github.com/matejlatin/Gutenberg
Authors ....... Matej Latin (@matejlatin)
License ....... Creative Commmons Attribution 3.0
License URL ... https://raw.githubusercontent.com/matejlatin/Gutenberg/master/license.txt
*/

@import "../fonts/FiraSansCondensed/_fonts";
@import "../fonts/Merriweather/_fonts";
@import "../fonts/FiraCode/_fonts";
@import "svg";

$font-body: 'Merriweather', Georgia, serif;
$font-header: 'FiraSansCondensed', sans-serif;
$font-menu: 'FiraSansCondensed', sans-serif;

$base-font-size: 100%;
$base-font-size-desktop: 112.5%;

$line-height: 1.625;
$line-height-desktop: 1.7;

$max-width: 48em;

$base: 16px * $base-font-size / 100%;
$leading: round($base * $line-height);
$leading-rem: $leading / $base * 1rem;

$base-desktop: 16px * $base-font-size-desktop / 100%;
$leading-desktop: round($base-desktop * $line-height-desktop);
$leading-rem-desktop: $leading-desktop / $base-desktop * 1rem;

// Colors
$color-background-body: #fff;
$color-font-body: #222;
$color-font-headings: $color-font-body;
$color-font-light: #888;
$color-font-figcaption: $color-font-body;
$color-link-normal: $color-font-body;
$color-link-hover: #ffffff;
$color-link-hover-background: #e64c43;
$color-link-active: #f00;
$color-link-visited: $color-font-body;
$color-light-border: #ddd;

$color-dark-background-body: #161820;
$color-dark-font-body: #ddd;
$color-dark-font-headings: $color-font-body;
$color-dark-font-light: #888;
$color-dark-font-figcaption: $color-font-body;
$color-dark-link-normal: $color-dark-font-body;
$color-dark-link-hover: $color-dark-font-body;
$color-dark-link-active: #f00;
$color-dark-link-visited: $color-dark-font-body;
$color-dark-light-border: #888;

$headings: (
	h1: (2.5, 2, 4, 1),
	h2: (1.6875, 1.5, 2.5, .5),
	h3: (1.375, 1, 2, .5),
	h4: (1.2, 1, 1.5, .5),
	h5: (1, 1, 2.5, .5),
	h6: (1, 1, 2.5, .5)
);

%large-shadow {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
		0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
		0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

@mixin large-screen {
	@media screen and (min-width: #{ $max-width + 10em }) {
		@content;
	}
}

@mixin tiny-scrollbar($handle-color, $background-color) {
	scrollbar-color: $handle-color $background-color;
	scrollbar-width: thin;
	scrollbar-gutter: stable;
	&::-webkit-scrollbar-track {
		background-color: $background-color;
	}
	&::-webkit-scrollbar {
		width: 6px;
		height: 6px;
		background-color: $background-color;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $handle-color;
		border-top: 1px solid $background-color;
		border-bottom: 1px solid $background-color;
	}
}

@import "highlight";

/* Defaults
   ========================================================================== */

body {
	margin: 0;
	color: $color-font-body;
	background: $color-background-body;
	@include tiny-scrollbar($color-font-body, $color-background-body);
}

html {
	box-sizing: border-box;
	font-size: $base;
	font-family: $font-body;
}

* {
	line-height: $line-height;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

main {
	max-width: $max-width;
	margin: .5rem auto 1rem auto;
	padding: 0 1rem;
}

pre {
	padding: 1rem;
	font-size: 75%;
	line-height: 1.4;
	border-radius: 6px;
	font-weight: 500;
	tab-size: 2;
	overflow-x: scroll;

	strong {
		background: #ffff0040;
		font-weight: 900;
	}
	em {
		background: #00ff0040;
	}

	* {
		line-height: 1.4;
	}
}

p {
	margin: 0 0 1.625rem;
}

code,
kbd,
pre,
samp {
	font-family: 'FiraCode', monospace
}

blockquote {
	margin: 0 0 1rem .5rem;
	padding-left: 1rem;
	font-style: italic;
	border-left: 3px solid rgba(#888, 0.2);
	p {
		margin: 0;
	}
	p + p {
		margin-top: 1rem;
	}
}

a {
	background: transparent;
	color: $color-link-normal;

	&:active,
	&:hover {
		outline: 0;
	}

	&:hover {
		color: $color-link-hover;
		background-color: $color-link-hover-background;
	}

	&:visited {
		color: $color-link-visited;

		&:hover {
			color: $color-link-hover;
			background-color: $color-link-hover-background;
		}
	}

	&:active {
		color: $color-link-active;
	}
}

.u-uppercase {
	letter-spacing: .1em;
	text-transform: uppercase;
	font-size: 80%;
}

.u-nowrap {
	white-space: nowrap;
}

.u-align-left {
	text-align: left;
}
.u-align-center {
	text-align: center;
}
.u-align-right {
	text-align: right;
}

img, picture {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

figure {
	margin-left: auto;
	margin-right: auto;
}

figcaption {
	font-style: italic;
	font-size: 80%;
	line-height: $line-height;
	text-align: center;
	margin-bottom: 0;
}

@each $heading, $properties in $headings {
	#{$heading} {
		font-size: nth($properties, 1) * 1rem;
		line-height: nth($properties, 2);
		margin-top: nth($properties, 3) * 1rem;
		margin-bottom: nth($properties, 4) * 1rem;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: $color-font-headings;
}

h1 + h2 {
	margin-top: 1rem;
}

h2 + h3,
h3 + h4,
h4 + h5 {
	margin-top: .5rem;
}

h5 + h6 {
	margin-top: -.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-header;
	font-weight: bold;
}

hgroup {
	margin-bottom: 4rem;

	h1 {
		font-size: 3rem;
		text-align: center;
		margin-bottom: 2rem;
	}

	p {
		font-size: 120%;
		line-height: 1.5;
	}

	.info {
		text-align: center;
		margin: 1rem 0 2rem 0;
		font-style: italic;
	}

	address {
		display: inline;
		&:before {
			content: '    ·    ';
		}
	}
}

header {
	font-family: $font-menu;

	ul {
		padding: 80px 0 0 0;
		margin: 0;
		list-style: none;
		font-size: 1.5rem;
		overflow-y: auto;
		position: fixed;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		background: $color-background-body;
		z-index: 100;
		max-width: 14rem;
		//transform: translateX(18rem);
		@extend %large-shadow;
	}

	li:first-child {
		text-transform: uppercase;
		line-height: 80px;
		text-align: right;
		font-weight: bold;
		padding: 0 1rem;
		height: 80px;
		position: fixed;
		width: 100%;
		max-width: 14rem;
		top: 0;
		right: 0;
		background: $color-background-body;
	}

	a {
		display: block;
		text-decoration: none;
		padding: .25rem 1rem;
		text-align: right;
	}

	nav {
		max-width: $max-width;
		padding: 30px 1rem 25px 1rem;
		margin: 0 auto;
		border-bottom: 1px solid $color-light-border;
	}
}

hr {
	color: $color-font-body;
	text-align: center;
	display: block;
	border: 0;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	height: 1.5rem;
	&:before {
		content: "···";
		letter-spacing: 1em;
	}
}

img {
	border: 0;
	max-width: 100%;
	display: block;
	margin: inherit auto;
}

ul,
ol {
	margin-bottom: .5rem;
	li {
		margin-bottom: 0;
	}
}

table {
	width: 100%;
	border-top: 2px solid $color-font-body;
	border-bottom: 2px solid $color-font-body;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 1em;
}

th {
	text-align: left;
	font-weight: bold;
}

td, th {
	vertical-align: top;
}

thead {
	border-bottom: 1px solid $color-font-body;
}

tfoot {
	border-top: 1px solid $color-font-body;
}

br {
	margin: 0;
}

dt {
	font-weight: bold;
	margin: 0;
}

dd {
	padding-left: 2em;
	margin: 0;
}

code {
	display: inline;
	padding: 0;
	margin: 0;
	background: #eee;
}

table, img, figure {
	page-break-inside: avoid;
}

br {
	margin-bottom: 0;
}

abbr {
	letter-spacing: 0.1em;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

em,
i {
	line-height: 0;
	vertical-align: baseline;
}

small {
	font-size: 70%;
	line-height: 1.4;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

.logo {
	color: transparent;
	display: block;
	overflow: hidden;
	text-indent: 9999px;
	@include svg('img/logo.svg', "svg { color: #222; }", $width: 150px);
	&:hover, &:visited:hover {
		background-color: transparent;
	}
}

@include large-screen {
	body,
	html {
		margin: 0;
		width: 100%;
		max-width: none;
	}

	html {
		font-size: $base-desktop;
	}

	* {
		line-height: $line-height-desktop;
	}

	main {
		padding: 0 2rem;
	}

	pre {
		width: 100vw;
		max-width: calc(min(80rem, 100vw - 4rem));
		margin-left: 50%;
		transform: translateX(-50%);
		position: relative;
		tab-size: 4;
		font-size: 80%;
	}

	.table.table--wide {
		width: 100vw;
		max-width: calc(min(60rem, 100vw - 4rem));
		margin-left: 50%;
		transform: translateX(-50%);
		position: relative;
	}

	.u-float-left {
		float: left;
		position: relative;
		margin-left: -3rem;
		left: -1rem;
	}
	.u-float-right {
		float: right;
		position: relative;
		margin-right: -3rem;
		left: 1rem;
	}
	.u-float-center {
		margin-left: auto;
		margin-right: auto;
	}

	figcaption {
		line-height: $line-height-desktop;
	}

	.logo {
		@include svg-geometry('img/logo.svg');
	}
}

div.table {
	overflow-x: auto;
}

@mixin dark() {
	color: $color-dark-font-body;
	background: $color-dark-background-body;
	@include tiny-scrollbar($color-dark-font-body, $color-dark-background-body);

	a {
		background: transparent;
		color: $color-dark-link-normal;

		&:active,
		&:hover {
			outline: 0;
		}

		&:hover {
			color: $color-dark-link-hover;
		}

		&:visited {
			color: $color-dark-link-visited;

			&:hover {
				color: $color-dark-link-hover;
			}
		}

		&:active {
			color: $color-dark-link-active;
		}
	}

	hr {
		color: $color-dark-font-body;
	}

	table, thead, tbody, tfoot {
		border-color: $color-dark-font-body;
	}

	h1, h2, h3, h4, h5, h6 {
		color: $color-dark-font-body;
	}

	header ul {
		background: #000;
		border-left: 1px solid rgba(#fff, 0.3);
	}

	nav {
		border-color: $color-light-border;
		li:first-child {
			background: #000;
		}
	}

	.logo {
		@include svg('img/logo.svg', "svg { color: #ddd; }");
	}
}

@media (prefers-color-scheme: dark) {
	body {
		@include dark();
	}
}

@media screen {
	body.dark-theme {
		@include dark();
	}
}

@media print {
	html {
		font-size: 14px;
	}
	body{
		column-count: 2;
		background: white;
		color: black;
	}
	hr, h1, h2, h3, h4, h5, h6 {
		color: black;
	}
	table, thead, tbody, tfoot {
		border-color: black;
	}
	hgroup h1 {
		margin-top: 0;
		margin-bottom: 1rem;
	}

	main {
		padding: 0;
		overflow: hidden;
	}

	p {
		text-align: justify;
	}

	body > header, body > footer {
		display: none;
	}

	pre {
		white-space: pre-wrap;
	}

	/* Single column
	.u-float-left {
		float: left;
		position: relative;
		margin-left: -3rem;
		left: -1rem;
	}
	.u-float-right {
		float: right;
		position: relative;
		margin-right: -3rem;
		left: 1rem;
	}
	.u-float-center {
		margin-left: auto;
		margin-right: auto;
	}
	*/
}
