/*
Gutenberg: A Meaningful Web Typography Starter Kit
Website ....... http://matejlatin.github.io/Gutenberg/
Version ....... 1.2.3
Github ........ https://github.com/matejlatin/Gutenberg
Authors ....... Matej Latin (@matejlatin)
License ....... Creative Commmons Attribution 3.0
License URL ... https://raw.githubusercontent.com/matejlatin/Gutenberg/master/license.txt
*/

@import "../fonts/FiraSansCondensed/_fonts";
@import "../fonts/Lora/_fonts";
@import "../fonts/FiraCode/_fonts";
@import "svg";

$font-body: 'Lora', Georgia, serif;
$font-header: 'FiraSansCondensed', sans-serif;
$font-menu: 'FiraSansCondensed', sans-serif;

$base-font-size: 100%;
$base-font-size-desktop: 112.5%;

$line-height: 1.625;
$line-height-desktop: 1.7;

$max-width: 66.6666666em;
$max-width-detail: 48em;
//$max-width: 48em;

$base: 16px * $base-font-size / 100%;
$leading: round($base * $line-height);
$leading-rem: $leading / $base * 1rem;

$base-desktop: 16px * $base-font-size-desktop / 100%;
$leading-desktop: round($base-desktop * $line-height-desktop);
$leading-rem-desktop: $leading-desktop / $base-desktop * 1rem;

// Colors
$palette-light: (
	"primary": #e64c43,
	"background-body": #fff,
	"font-body": #222,
	"font-headings": #222,
	"link-normal": #222,
	"link-hover": #fff,
	"link-hover-background": #e64c43,
	"link-active": #222,
	"border-light": #ddd,
);
$palette-dark: (
	"primary": #e64c43,
	"background-body": #161820,
	"font-body": #ddd,
	"font-headings": #ddd,
	"link-normal": #ddd,
	"link-hover": #fff,
	"link-hover-background": #e64c43,
	"link-active": #888,
	"border-light": #888,
);

$headings: (
	h1: (2.5, 2, 4, 1),
	h2: (1.6875, 1.5, 2.5, .5),
	h3: (1.375, 1, 2, .5),
	h4: (1.2, 1, 1.5, .5),
	h5: (1, 1, 2.5, .5),
	h6: (1, 1, 2.5, .5)
);

%large-shadow {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
		0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
		0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

%clearfix {
	&:before, &:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin medium-screen {
	@media screen and (min-width: 40em) {
		@content;
	}
}

@mixin large-screen {
	@media screen and (min-width: #{ $max-width + 8em }) {
		@content;
	}
}

@mixin tiny-scrollbar($handle-color, $background-color) {
	scrollbar-color: $handle-color $background-color;
	scrollbar-width: thin;
	scrollbar-gutter: stable;
	&::-webkit-scrollbar-track {
		background-color: $background-color;
	}
	&::-webkit-scrollbar {
		width: 6px;
		height: 6px;
		background-color: $background-color;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $handle-color;
		border-top: 1px solid $background-color;
		border-bottom: 1px solid $background-color;
	}
}

@import "highlight";

/* Defaults
   ========================================================================== */

body {
	margin: 0;
}

html {
	box-sizing: border-box;
	font-size: $base;
	font-family: $font-body;
	font-weight: 500;
}

* {
	line-height: $line-height;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

main {
	max-width: $max-width;
	margin: .5rem auto 1rem auto;
	padding: 0 1rem;
}

.detail main {
	max-width: $max-width-detail;
}

pre {
	padding: 1rem;
	font-size: 75%;
	line-height: 1.4;
	border-radius: 6px;
	font-weight: 500;
	tab-size: 2;
	overflow-x: scroll;

	strong {
		background: #00f;
		filter: invert(1);
	}
	em {
		background: #202;
		filter: invert(1);
	}

	* {
		line-height: 1.4;
	}
}

p {
	margin: 0 0 1.625rem;
}

code,
kbd,
pre,
samp {
	font-family: 'FiraCode', monospace
}

blockquote {
	margin: 0 0 1rem .5rem;
	padding-left: 1rem;
	font-style: italic;
	border-left: 3px solid rgba(#888, 0.2);
	p {
		margin: 0;
	}
	p + p {
		margin-top: 1rem;
	}
}

a {
	background: transparent;

	&:active,
	&:hover {
		outline: 0;
	}
}

.u-uppercase {
	letter-spacing: .1em;
	text-transform: uppercase;
	font-size: 80%;
}

.u-nowrap {
	white-space: nowrap;
}

.u-align-left {
	text-align: left;
}
.u-align-center {
	text-align: center;
}
.u-align-right {
	text-align: right;
}
.u-hidden-checkbox {
	z-index: -1;
	opacity: 0;
	position: absolute;
}
.u-hidden {
	display: none;
}

img, picture {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

figure {
	margin-left: auto;
	margin-right: auto;
}

figcaption {
	font-style: italic;
	font-size: 80%;
	line-height: $line-height;
	text-align: center;
	margin-bottom: 0;
}

@each $heading, $properties in $headings {
	#{$heading} {
		font-size: nth($properties, 1) * 1rem;
		line-height: nth($properties, 2);
		margin-top: nth($properties, 3) * 1rem;
		margin-bottom: nth($properties, 4) * 1rem;
	}
}

h1 + h2 {
	margin-top: 1rem;
}

h2 + h3,
h3 + h4,
h4 + h5 {
	margin-top: .5rem;
}

h5 + h6 {
	margin-top: -.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-header;
	font-weight: bold;
}

hgroup {
	margin-bottom: 4rem;

	h1 {
		font-size: 3rem;
		text-align: center;
		margin-bottom: 2rem;
	}

	p {
		font-size: 120%;
		line-height: 1.5;
	}

	.info {
		text-align: center;
		margin: 1rem 0 2rem 0;
		font-style: italic;
	}

	address {
		display: inline;
		&:before {
			content: '    ·    ';
		}
	}
}

header {
	font-family: $font-menu;
	font-weight: bold;

	ul {
		padding: 80px 0 0 0;
		margin: 0;
		list-style: none;
		font-size: 1.5rem;
		overflow-y: auto;
		position: fixed;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		z-index: 1000;
		max-width: 14rem;
		transform: translateX(14rem);

		visibility: hidden;
		transition: visibility 0.3s linear, transform 0.3s ease;
		@extend %large-shadow;
		label {
			cursor: pointer;
			display: block;
			text-transform: uppercase;
			box-sizing: content-box;
			height: 40px;
			line-height: 40px;
			text-align: right;
			font-weight: bold;
			padding: 1rem;
			position: fixed;
			width: auto;
			max-width: 14rem;
			top: 0;
			right: 0;
			left: 0;
			vertical-align: middle;
			background: map-get($palette-light, "link-hover-background");
			color: map-get($palette-light, "link-hover");
			&:before {
				content: '>';
				float: left;
				font-weight: normal;
			}
		}
	}

	a {
		display: block;
		text-decoration: none;
		padding: .25rem 1rem;
		text-align: right;
		font-weight: bold;
	}


	nav {
		max-width: $max-width;
		padding: 1rem;
		margin: 0 auto;
		border-bottom: 1px solid;
	}
}

hr {
	text-align: center;
	display: block;
	border: 0;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	height: 1.5rem;
	&:before {
		content: "···";
		letter-spacing: 1em;
	}
}

img {
	border: 0;
	max-width: 100%;
	height: auto;
	display: block;
	margin: inherit auto;
}

ul,
ol {
	margin-bottom: .5rem;
}

li {
	margin-bottom: 0;
}

table {
	width: 100%;
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 1em;
}

th {
	text-align: left;
	font-weight: bold;
}

td, th {
	vertical-align: top;
}

thead {
	border-bottom: 1px solid;
}

tfoot {
	border-top: 1px solid;
}

br {
	margin: 0;
}

dt {
	font-weight: bold;
	margin: 0;
}

dd {
	padding-left: 2em;
	margin: 0;
}

code {
	display: inline;
	padding: 0;
	margin: 0;
	background: #eee;
}

table, img, figure {
	page-break-inside: avoid;
}

br {
	margin-bottom: 0;
}

abbr {
	letter-spacing: 0.1em;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: 900;
}

dfn {
	font-style: italic;
}

em,
i {
	line-height: 0;
	vertical-align: baseline;
}

small {
	font-size: 70%;
	line-height: 1.4;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

.logo {
	color: transparent;
	display: block;
	overflow: hidden;
	text-indent: 9999px;
	height: 40px;
	padding: 0;
	&:before {
		content: '';
		display: block;
		position: absolute;
		margin-top: (40px - 24px)/2 + 2px;
	}
	&:hover, &:visited:hover {
		background-color: transparent;
	}
}

.toggle-menu {
	display: block;
	position: relative;
	width: 40px;
	height: 40px;
	float: right;
	margin-right: -9px;
	cursor: pointer;
	&:before {
		content: "";
		position: absolute;
		left: 9px;
		top: 11px;
		width: 22px;
		height: 3px;
		border-radius: 1px;
	}
}

.toggle-dark {
	display: block;
	float: right;
	position: relative;
	width: 40px;
	height: 40px;
	border: 0;
	background: transparent;
	cursor: pointer;
	&:before {
		content: "";
		position: absolute;
		display: block;
		left: 10px;
		top: 10px;
	}
}

.page-overlay {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: rgba(#000, 0.25);
	visibility: hidden;
	backdrop-filter: blur(1px);
}

div.table {
	overflow-x: auto;
}

#main_menu_visible:checked ~ header {
	ul {
		transform: translateX(0);
		visibility: visible;
	}
}
#main_menu_visible:checked ~ .page-overlay {
	visibility: visible;
}

.articles {
	$self: &;

	margin-top: $leading-rem;

	title, address {
		display: inline;
	}

	address {
		&:before {
			content: '    ·    ';
		}
	}

	&__image {
		position: relative;
		background: rgba(#888, 0.2);
		padding-bottom: 68.75%;
		img, picture {
			width: 100%;
			position: absolute;
		}
	}

	&__item {
		margin-bottom: $leading-rem;
		@extend %clearfix;
	}

	&__info {
		padding: ($leading-rem/2) 0 $leading-rem 0;

		h2 {
			margin-top: .5em;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
}

@mixin palette($palette, $html: false) {
	$font-color: map-get($palette, "font-body");
	@if $html {
		background-color: map-get($palette, "background-body");
		color: map-get($palette, "font-body");
		@include tiny-scrollbar(map-get($palette, "font-body"), map-get($palette, "background-body"));
	}
	@else {
		html {
			background-color: map-get($palette, "background-body");
			color: map-get($palette, "font-body");
			@include tiny-scrollbar(map-get($palette, "font-body"), map-get($palette, "background-body"));
		}
	}

	a {
		color: map-get($palette, "link-normal");
		&:hover {
			color: map-get($palette, "link-hover");
			background-color: map-get($palette, "link-hover-background");
		}

		&:active {
			color: map-get($palette, "link-active");
		}
	}
	header {
		ul {
			background-color: map-get($palette, "background-body");
			label {
				border-bottom: 1px solid map-get($palette, "background-body");
			}
		}
		a {
			color: $font-color;
		}
		nav {
			border-color: map-get($palette, "border-light");
		}
	}
	hr {
		color: map-get($palette, "font-body");
	}
	table, thead, tbody, tfoot {
		border-color: map-get($palette, "font-body");
	}
	h1, h2, h3, h4, h5, h6 {
		color: map-get($palette, "font-headings");
	}
	.logo {
		&:before {
			@include svg('img/logo.svg', "svg { color: #{$font-color}; }", $height: 24px);
		}
	}
	.toggle-dark:before {
		@include svg('img/sun-solid.svg', "svg { color: #{$font-color}; }", $height: 20px);
	}

	.toggle-menu:before {
		background: $font-color;
		box-shadow:
			0 8px 0 0 $font-color,
			0 16px 0 0 $font-color;
	}

	@include large-screen {
		.logo:before {
			@include svg-geometry('img/logo.svg');
		}
		.toggle-dark:before {
			@include svg-geometry('img/sun-solid.svg', $height: 30px);
		}
		header li a:hover {
			background: transparent;
			color: map-get($palette-light, "primary");
		}
		.articles__item--first .articles__info {
			background-color: map-get($palette, "background-body");
		}
	}
}

@include palette($palette-light);

/*
@media (prefers-color-scheme: dark) {
	@include palette($palette-dark);
}
*/

@media (prefers-reduced-motion) {
	* {
		transition: none !important;
	}
}

body.no-animate * {
	transition: none !important;
}


@media screen {
	html.dark-mode {
		@include palette($palette-dark, $html: true);
	}
	/*
	body.light-theme {
		@include palette($palette-light, $body: false);
	}
	*/
}

@include medium-screen {
	main {
		padding: 0 $leading-rem;
	}

	.articles {
		margin-left: -8px;
		margin-right: -8px;
		display: flex;
		flex-wrap: wrap;

		&__item {
			width: 50%;
			padding: 0 8px;
		}

	}
}

@include large-screen {
	body,
	html {
		margin: 0;
		width: 100%;
		max-width: none;
	}

	html {
		font-size: $base-desktop;
	}

	* {
		line-height: $line-height-desktop;
	}

	main {
		padding: 0 $leading-rem-desktop;
	}

	pre {
		width: 100vw;
		max-width: calc(min(80rem, 100vw - 4rem));
		margin-left: 50%;
		transform: translateX(-50%);
		position: relative;
		tab-size: 4;
		font-size: 80%;
	}

	.logo {
		height: 50px;
		&:before {
			margin-top: (50px - svg-height('img/logo.svg'))/2 + 2px;
		}
	}

	header {
		ul {
			padding: 0;
			margin: -1rem -1rem 0 0;
			position: static;
			float: right;
			z-index: unset;
			box-shadow: none;
			transition: none;
			transform: none;
			visibility: visible;
			max-width: unset;
			overflow: visible;
			width: auto;
		}
		li:first-child {
			display: none;
		}
		li {
			text-align: left;
			display: inline-block;
			padding: 0;
			a {
				line-height: 50px;
				height: 50px;
				box-sizing: content-box;
				padding: 1rem;
			}
		}
	}

	.table.table--wide {
		width: 100vw;
		max-width: calc(min(60rem, 100vw - 4rem));
		margin-left: 50%;
		transform: translateX(-50%);
		position: relative;
	}

	.u-float-left {
		float: left;
		position: relative;
		margin-left: -3rem;
		left: -1rem;
	}
	.u-float-right {
		float: right;
		position: relative;
		margin-right: -3rem;
		left: 1rem;
	}
	.u-float-center {
		margin-left: auto;
		margin-right: auto;
	}

	figcaption {
		line-height: $line-height-desktop;
	}

	.toggle-menu {
		display: none;
	}
	.toggle-dark {
		width: 50px;
		height: 50px;
		margin-left: 1rem;
	}

	#main_menu_visible:checked ~ .page-overlay {
		visibility: hidden;
	}

	.articles {
		$self: &;

		&__info {
			padding: ($leading-rem-desktop/2) 0 $leading-rem-desktop 0;
		}

		&__image {
			position: static;
			padding: 0;
			img, picture {
				position: static;
				width: auto;
			}
		}

		#{$self}__item--first {
			width: 100%;
			display: flex;
			align-items: end;
			#{$self}__image {
				width: 40%;
				flex: 0 0 auto;
				img, picture {
					max-width: unset;
				}
			}
			#{$self}__info {
				width: 60%;
				flex: 0 0 auto;
				padding: $leading-rem;
			}
		}
	}
}
