@charset "UTF-8";
table {
  border-collapse: collapse; }

/* Apply a default padding if legacy cellpadding attribute is missing */
table:not([cellpadding]) th,
table:not([cellpadding]) td {
  padding: 0.4rem; }

/* Set default table styles if a table has a positive border attribute
	 and no inline css */
table[border]:not([border="0"]):not([style*="border-width"]) th,
table[border]:not([border="0"]):not([style*="border-width"]) td {
  border-width: 1px; }

/* Set default table styles if a table has a positive border attribute
	 and no inline css */
table[border]:not([border="0"]):not([style*="border-style"]) th,
table[border]:not([border="0"]):not([style*="border-style"]) td {
  border-style: solid; }

/* Set default table styles if a table has a positive border attribute
	 and no inline css */
table[border]:not([border="0"]):not([style*="border-color"]) th,
table[border]:not([border="0"]):not([style*="border-color"]) td {
  border-color: #ccc; }

figure {
  display: table;
  margin: 1rem auto; }

figure figcaption {
  color: #999;
  display: block;
  margin-top: 0.25rem;
  text-align: center; }

hr {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0 0; }

code {
  background-color: #e8e8e8;
  border-radius: 3px;
  padding: 0.1rem 0.2rem; }

.mce-content-body:not([dir=rtl]) blockquote {
  border-left: 2px solid #ccc;
  margin-left: 1.5rem;
  padding-left: 1rem; }

.mce-content-body[dir=rtl] blockquote {
  border-right: 2px solid #ccc;
  margin-right: 1.5rem;
  padding-right: 1rem; }

/*
Gutenberg: A Meaningful Web Typography Starter Kit
Website ....... http://matejlatin.github.io/Gutenberg/
Version ....... 1.2.3
Github ........ https://github.com/matejlatin/Gutenberg
Authors ....... Matej Latin (@matejlatin)
License ....... Creative Commmons Attribution 3.0
License URL ... https://raw.githubusercontent.com/matejlatin/Gutenberg/master/license.txt
*/
@font-face {
  font-family: 'FiraSansCondensed';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("FiraSansCondensed Bold"), local("FiraSansCondensed-Bold"), local("Fira Sans Condensed"), local("FiraSansCondensed"), url("/static/fonts/FiraSansCondensed/FiraSansCondensed-Bold.woff2") format("woff2"), url("/static/fonts/FiraSansCondensed/FiraSansCondensed-Bold.woff") format("woff"); }

@font-face {
  font-family: 'Lora';
  font-weight: 100 1000;
  font-style: italic;
  font-display: swap;
  src: local("Lora Italic"), local("Lora-Italic"), local("Lora"), url("/static/fonts/Lora/Lora-Italic-VariableFont_wght.woff2") format("woff2"), url("/static/fonts/Lora/Lora-Italic-VariableFont_wght.woff") format("woff"); }

@font-face {
  font-family: 'Lora';
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
  src: local("Lora Regular"), local("Lora-Regular"), local("Lora"), url("/static/fonts/Lora/Lora-VariableFont_wght.woff2") format("woff2"), url("/static/fonts/Lora/Lora-VariableFont_wght.woff") format("woff"); }

@font-face {
  font-family: 'FiraCode';
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
  src: local("FiraCode"), local("Fira Code"), local("FiraCode"), url("/static/fonts/FiraCode/FiraCode-VariableFont_wght.woff2") format("woff2"), url("/static/fonts/FiraCode/FiraCode-VariableFont_wght.woff") format("woff"); }

header ul {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07); }

.articles__item:before, .articles__item:after {
  content: "";
  display: table;
  clear: both; }

/* Dracula Theme v1.2.5
 *
 * https://github.com/zenorocha/dracula-theme
 *
 * Copyright 2016, All rights reserved
 *
 * Code licensed under the MIT license
 * http://zenorocha.mit-license.org
 *
 * @author Rob G <wowmotty@gmail.com>
 * @author Chris Bracco <chris@cbracco.me>
 * @author Zeno Rocha <hi@zenorocha.com>
 * @author Piruin Panichphol <piruin.p@gmail.com>
 */
/*
 * Variables
 */
/*
 * Styles
 */
pre {
  background: #21222c;
  color: #f8f8f2; }
  pre .hll,
  pre .s,
  pre .sa,
  pre .sb,
  pre .sc,
  pre .dl,
  pre .sd,
  pre .s2,
  pre .se,
  pre .sh,
  pre .si,
  pre .sx,
  pre .sr,
  pre .s1,
  pre .ss {
    color: #f1fa8c; }
  pre .go {
    color: #44475a; }
  pre .err,
  pre .g,
  pre .l,
  pre .n,
  pre .x,
  pre .p,
  pre .ge,
  pre .gr,
  pre .gh,
  pre .gi,
  pre .gp,
  pre .gs,
  pre .gu,
  pre .gt,
  pre .ld,
  pre .no,
  pre .nd,
  pre .ni,
  pre .ne,
  pre .nn,
  pre .nx,
  pre .py,
  pre .w,
  pre .bp {
    color: #f8f8f2; }
  pre .gh,
  pre .gi,
  pre .gu {
    font-weight: 900; }
  pre .ge {
    text-decoration: underline; }
  pre .bp {
    font-style: italic; }
  pre .c,
  pre .ch,
  pre .cm,
  pre .cpf,
  pre .c1,
  pre .cs {
    color: #c6d5ff;
    font-weight: 200; }
  pre .kd,
  pre .kt,
  pre .nb,
  pre .nl,
  pre .nv,
  pre .vc,
  pre .vg,
  pre .vi,
  pre .vm {
    color: #8be9fd; }
  pre .kd,
  pre .nb,
  pre .nl,
  pre .nv,
  pre .vc,
  pre .vg,
  pre .vi,
  pre .vm {
    font-style: italic; }
  pre .na,
  pre .nc,
  pre .nf,
  pre .fm {
    color: #50fa7b; }
  pre .k,
  pre .o,
  pre .cp,
  pre .kc,
  pre .kn,
  pre .kp,
  pre .kr,
  pre .nt,
  pre .ow {
    color: #ff79c6; }
  pre .m,
  pre .mb,
  pre .mf,
  pre .mh,
  pre .mi,
  pre .mo,
  pre .il {
    color: #bd93f9; }
  pre .gd {
    color: #ff5555; }

/* Defaults
   ========================================================================== */
body {
  margin: 0; }

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Lora", Georgia, serif;
  font-weight: 500; }

* {
  line-height: 1.625; }

*,
*::before,
*::after {
  box-sizing: inherit; }

main {
  max-width: 1200px;
  margin: 1rem auto;
  padding: 0 1rem; }

.detail main {
  max-width: 768px; }

pre {
  padding: 1rem;
  font-size: 75%;
  line-height: 1.4;
  border-radius: 6px;
  font-weight: 500;
  tab-size: 2;
  overflow-x: scroll; }
  pre strong {
    background: #00f;
    filter: invert(1); }
  pre em {
    background: #202;
    filter: invert(1); }
  pre * {
    line-height: 1.4; }

p {
  margin: 0 0 1.625rem; }

code,
kbd,
pre,
samp {
  font-family: 'FiraCode', monospace; }

blockquote {
  margin: 0 0 1rem .5rem;
  padding-left: 1rem;
  font-style: italic;
  border-left: 3px solid rgba(136, 136, 136, 0.2); }
  blockquote p {
    margin: 0; }
  blockquote p + p {
    margin-top: 1rem; }

a {
  background: transparent; }
  a:active, a:hover {
    outline: 0; }

.u-uppercase {
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: 80%; }

.u-nowrap {
  white-space: nowrap; }

.u-align-left {
  text-align: left; }

.u-align-center {
  text-align: center; }

.u-align-right {
  text-align: right; }

.u-hidden-checkbox {
  z-index: -1;
  opacity: 0;
  position: absolute; }

.u-hidden {
  display: none; }

img, picture {
  display: block;
  margin-left: auto;
  margin-right: auto; }

figure {
  margin-left: auto;
  margin-right: auto; }

figcaption {
  font-style: italic;
  font-size: 80%;
  line-height: 1.625;
  text-align: center;
  margin-bottom: 0; }

h1 {
  font-size: 2.5rem;
  line-height: 2;
  margin-top: 4rem;
  margin-bottom: 1rem; }

h2 {
  font-size: 1.6875rem;
  line-height: 1.5;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem; }

h3 {
  font-size: 1.375rem;
  line-height: 1;
  margin-top: 2rem;
  margin-bottom: 0.5rem; }

h4 {
  font-size: 1.2rem;
  line-height: 1;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem; }

h5 {
  font-size: 1rem;
  line-height: 1;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem; }

h6 {
  font-size: 1rem;
  line-height: 1;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem; }

h1 + h2 {
  margin-top: 1rem; }

h2 + h3,
h3 + h4,
h4 + h5 {
  margin-top: .5rem; }

h5 + h6 {
  margin-top: -.5rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "FiraSansCondensed", sans-serif;
  font-weight: bold; }

hgroup {
  margin-bottom: 4rem; }
  hgroup h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem; }
  hgroup p {
    font-size: 120%;
    line-height: 1.5; }
  hgroup .info {
    text-align: center;
    margin: 1rem 0 2rem 0;
    font-style: italic; }
  hgroup address {
    display: inline; }
    hgroup address:before {
      content: '    ·    '; }

header {
  font-family: "FiraSansCondensed", sans-serif;
  font-weight: bold; }
  header ul {
    padding: 80px 0 0 0;
    margin: 0;
    list-style: none;
    font-size: 1.5rem;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    max-width: 14rem;
    transform: translateX(14rem);
    visibility: hidden;
    transition: visibility 0.3s linear, transform 0.3s ease; }
    header ul label {
      cursor: pointer;
      display: block;
      text-transform: uppercase;
      box-sizing: content-box;
      height: 40px;
      line-height: 40px;
      text-align: right;
      font-weight: bold;
      padding: 1rem;
      position: fixed;
      width: auto;
      max-width: 14rem;
      top: 0;
      right: 0;
      left: 0;
      vertical-align: middle;
      background: #e64c43;
      color: #fff; }
      header ul label:before {
        content: '>';
        float: left;
        font-weight: normal; }
  header a {
    display: block;
    text-decoration: none;
    padding: .25rem 1rem;
    text-align: right;
    font-weight: bold; }
  header nav {
    max-width: 1200px;
    padding: 1rem;
    margin: 0 auto;
    border-bottom: 1px solid; }

hr {
  text-align: center;
  display: block;
  border: 0;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  height: 1.5rem; }
  hr:before {
    content: "···";
    letter-spacing: 1em; }

img {
  border: 0;
  max-width: 100%;
  height: auto;
  display: block;
  margin: inherit auto; }

ul,
ol {
  margin-bottom: .5rem; }

li {
  margin-bottom: 0; }

table {
  width: 100%;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1em; }

th {
  text-align: left;
  font-weight: bold; }

td, th {
  vertical-align: top; }

thead {
  border-bottom: 1px solid; }

tfoot {
  border-top: 1px solid; }

br {
  margin: 0; }

dt {
  font-weight: bold;
  margin: 0; }

dd {
  padding-left: 2em;
  margin: 0; }

code {
  display: inline;
  padding: 0;
  margin: 0;
  background: #eee; }

table, img, figure {
  page-break-inside: avoid; }

br {
  margin-bottom: 0; }

abbr {
  letter-spacing: 0.1em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 900; }

dfn {
  font-style: italic; }

em,
i {
  line-height: 0;
  vertical-align: baseline; }

small {
  font-size: 70%;
  line-height: 1.4; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

.logo {
  color: transparent;
  display: block;
  overflow: hidden;
  text-indent: 9999px;
  height: 40px;
  padding: 0; }
  .logo:before {
    content: '';
    display: block;
    position: absolute;
    margin-top: 10px; }
  .logo:hover, .logo:visited:hover {
    background-color: transparent; }

.toggle-menu {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  float: right;
  margin-right: -9px;
  cursor: pointer; }
  .toggle-menu:before {
    content: "";
    position: absolute;
    left: 9px;
    top: 11px;
    width: 22px;
    height: 3px;
    border-radius: 1px; }

.toggle-dark {
  display: block;
  float: right;
  position: relative;
  width: 40px;
  height: 40px;
  border: 0;
  background: transparent;
  cursor: pointer; }
  .toggle-dark:before {
    content: "";
    position: absolute;
    display: block;
    left: 10px;
    top: 10px; }

.page-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.25);
  visibility: hidden;
  backdrop-filter: blur(1px); }

div.table {
  overflow-x: auto; }

#main_menu_visible:checked ~ header ul {
  transform: translateX(0);
  visibility: visible; }

#main_menu_visible:checked ~ .page-overlay {
  visibility: visible; }

.articles title, .articles address {
  display: inline; }

.articles address:before {
  content: '    ·    '; }

.articles__image {
  position: relative;
  background: rgba(136, 136, 136, 0.2);
  padding-bottom: 68.75%; }
  .articles__image img, .articles__image picture {
    width: 100%;
    position: absolute; }

.articles__item {
  margin-bottom: 1rem; }

.articles__info {
  padding: .5rem 0 1rem 0; }
  .articles__info h2 {
    margin-top: .5rem; }
  .articles__info p:last-child {
    margin-bottom: 0; }

body {
  padding: 1em;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Lora", Georgia, serif;
  font-weight: 500;
  max-width: 48em;
  margin-left: auto;
  margin-right: auto; }

h1 {
  margin-top: 1rem; }
