{% extends "base.html" %}

{% block content %}
<hgroup class="u-hidden">
	<h1>{% trans %}Wisdom blog{% endtrans %}</h1>
</hgroup>

<section class="articles">
	{% for item in object_list %}
		<article class="articles__item{% if loop.first and not page_obj.has_previous() %} articles__item--first{% endif %}">
			<div class="articles__image">
				{% if item.gallery and item.gallery.primary_attachment %}
					{% if loop.first and not page_obj.has_previous() %}
						{{ thumbnail_tag(item.gallery.primary_attachment.file, "blog_list_first", attrs={"alt": item, "width": "828", "height": "569", "sizes": "100vw"}, sizes=[2, "328px", "480px", "1080px"]) }}
					{% else %}
						{{ thumbnail_tag(item.gallery.primary_attachment.file, "blog_list", attrs={"alt": item, "loading": "lazy", "width": "561", "height": "385"}, sizes=[2, "328px", "480px", "720px"]) }}
					{% endif %}
				{% endif %}
			</div>
			<div class="articles__info">
				<time datetime="1970-01-01 00:00:00">{{ item.pub_time|date("SHORT_DATE_FORMAT") }}</time>
				<address><a rel="author" href="/">{{ item.author }}</a></address>
				<h2>{{ item }}</h2>
				<p>{{ item.fast_translation_getter("summary")|safe }}</p>
			</div>
		</article>
	{% endfor %}
</section>

{{ pagination() }}
{% endblock %}
