{% extends "base.html" %}

{% block meta_description %}{% if object %}{{ object|translated_field("meta_description") }}{% else %}{{ super() }}{% endif %}{% endblock %}

{% block content %}
{% if object %}
	<hgroup>
		<h1>{{ object }}</h1>
	</hgroup>
{% else %}
	<hgroup class="u-hidden">
		<h1>{% trans %}Wisdom blog{% endtrans %}</h1>
	</hgroup>
{% endif %}

<section class="articles">
	{% for item in object_list %}
		<article class="articles__item{% if loop.first and not page_obj.has_previous() %} articles__item--first{% endif %}">
			<div class="articles__image">
				{% if item.gallery and item.gallery.primary_attachment %}
					{% if loop.first and not page_obj.has_previous() %}
						{{ thumbnail_tag(item.gallery.primary_attachment.file, "blog_list_first", attrs={"alt": item}) }}
					{% else %}
						{{ thumbnail_tag(item.gallery.primary_attachment.file, "blog_list", attrs={"alt": item, "loading": "lazy"}) }}
					{% endif %}
				{% endif %}
			</div>
			<div class="articles__info">
				<time datetime="{{ item.pub_time|date("Y-m-d H:i:s") }}">{{ item.pub_time|date("SHORT_DATE_FORMAT") }}</time>
				<address><a rel="author" href="{{ item.author.get_absolute_url() }}">{{ item.author }}</a></address>
				<span class="words" title="{% trans %}Read time{% endtrans %}">{{ item|translated_field("words")|read_time }}</span>
				<h2><a href="{{ item.get_absolute_url() }}">{{ item }}</a></h2>
				<p>{{ item|translated_field("summary")|safe }}</p>
			</div>
			<a class="u-full-link" href="{{ item.get_absolute_url() }}" title="{{ item }}"></a>
		</article>
	{% endfor %}
</section>

{{ pagination() }}
{% endblock %}
