{% extends "base.html" %}

{% block head_title %}{{ object.get_page_title() }} | {{ super() }}{% endblock %}
{% block bodyclass %}detail{% endblock %}
{% block meta_description_tag %}{% include "partials/meta_description.html" %}{% endblock %}

{% block content %}
<hgroup>
	<h1>{{ object }}</h1>

	<div class="info">
		<time datetime="{{ object.pub_time|date("Y-m-d H:i:s") }}">{{ object.pub_time|date("SHORT_DATE_FORMAT") }}</time>
		<address><a rel="author" href="{{ object.author.get_absolute_url() }}">{{ object.author.get_full_name() }}</a></address>
		{% if object.category %}
			<span class="info__category"><a href="{{ object.category.get_absolute_url() }}">{{ object.category }}</a></span>
		{% endif %}
		<span class="info__words" title="{% trans %}Read time{% endtrans %}">{{ object|translated_field("words")|read_time }}</span>
	</div>

	{{ object|translated_field("perex")|safe }}
</hgroup>

{{ object|translated_field("processed_content")|safe }}
{% endblock %}
