{% extends "base.html" %}

{% block content %}
<hgroup class="u-hidden">
	<h1>{% trans %}Wisdom blog{% endtrans %}</h1>
</hgroup>

<section class="articles">
	{% for item in object_list %}
		<article class="articles__item{% if loop.first and not page_obj.has_previous() %} articles__item--first{% endif %}">
			<div class="articles__image">
				{% if item.gallery and item.gallery.primary_attachment %}
					{% if loop.first and not page_obj.has_previous() %}
						{{ thumbnail_tag(item.gallery.primary_attachment.file, "blog_list_first", attrs={"alt": item}, sizes=["328px", "496px", "656px", "984px", "1656px"], size_attrs={'quality': [60, 60, 60, 50, 20]}) }}
					{% else %}
						{{ thumbnail_tag(item.gallery.primary_attachment.file, "blog_list", attrs={"alt": item, "loading": "lazy"}, sizes=["328px", "496px", "656px", "984px", "1122px"], size_attrs={'quality': [60, 60, 60, 50, 30]}) }}
					{% endif %}
				{% endif %}
			</div>
			<div class="articles__info">
				<time datetime="{{ item.pub_time|date("Y-m-d H:i:s") }}">{{ item.pub_time|date("SHORT_DATE_FORMAT") }}</time>
				<address><a rel="author" href="/">{{ item.author }}</a></address>
				<h2><a href="{{ item.get_absolute_url() }}">{{ item }}</a></h2>
				<p>{{ item|translated_field("summary")|safe }}</p>
			</div>
			<a class="articles__link" href="{{ item.get_absolute_url() }}" title="{{ item }}"></a>
		</article>
	{% endfor %}
</section>

{{ pagination() }}
{% endblock %}
