<!DOCTYPE html>
<html lang="sk">
<head>
	<title>{% block head_title %}Wisdom Blog{% endblock %}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block meta_description_tag %}<meta name="description" content="{% block meta_description %}Wisdom blog{% endblock %}">{% endblock %}
	{% block social_headers %}{% include "partials/social_headers.html" %}{% endblock %}
	{% compress css file style %}
		<link rel="stylesheet" type="text/x-scss" href="{{ static("css/style.scss") }}" />
	{% endcompress %}
	{% compress css file print %}
		<link rel="stylesheet" type="text/x-scss" media="print" href="{{ static("css/print.scss") }}" />
	{% endcompress %}
	<link rel="preload" href="{{ static("fonts/FiraSansCondensed/FiraSansCondensed-Bold.woff2") }}" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="{{ static("fonts/Lora/Lora-VariableFont_wght.woff2") }}" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="{{ static("fonts/Lora/Lora-Italic-VariableFont_wght.woff2") }}" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="{{ static("fonts/FiraCode/FiraCode-VariableFont_wght.woff2") }}" as="font" type="font/woff2" crossorigin>
	<link rel=icon href="{{ static("img/favicon/favicon.svg") }}" sizes="any" type="image/svg+xml">
	{% block extraheaders %}{% endblock %}
	{% block extrastyle %}{% endblock %}
	<script charset="utf-8">
		if (document.cookie.indexOf('mode=dark') !== -1) {
			document.getElementsByTagName('html')[0].classList.add('dark-mode');
		}
	</script>
</head>
<body class="no-animate {% block bodyclass %}{% endblock %}">
	<input type="checkbox" class="u-hidden-checkbox" id="main_menu_visible" aria-label="Open menu">
	<label class="page-overlay" for="main_menu_visible"></label>
	{% block body %}
		<header>
			<nav>
				<label class="toggle-menu" for="main_menu_visible"></label>
				<button class="toggle-dark" id="toggle_dark_mode" aria-label="Toggle dark mode"></button>

				<ul class="main-menu">
					<li><label for="main_menu_visible">{% trans %}Menu{% endtrans %}</label></li>
					<li><a href="{{ url("blog:post_list") }}">{% trans %}Blog{% endtrans %}</a></li>
					<li><a href="{{ url("accounts:user_list") }}">{% trans %}About Us{% endtrans %}</a></li>
					{% for code, label in LANGUAGES %}
						{% if code != LANGUAGE_CODE %}
							<li>
								<a href="{{ translated_url(code, "blog:post_list") }}" title="{{ label }}">{{ code|upper }}</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>

				<a class="logo" href="{{ url("blog:post_list") }}">Wisdomblog.</a>
			</nav>
		</header>
		<main class="{% block mainclass %}{% endblock %}">
			{% block content %}
			{% endblock %}
		</main>
		<footer>
			{% block footer_links %}{% endblock %}
		</footer>
	{% endblock %}
	{% compress js %}
		<script src="{{ static("js/app.js") }}" charset="utf-8"></script>
	{% endcompress %}
</body>
</html>
