<!DOCTYPE html>
<html lang="sk">
<head>
	<title>{% block head_title %}Wisdom Blog{% endblock %}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{% block meta_description %}Wisdom blog{% endblock %}">
	{% compress css file style %}
		<link rel="stylesheet" type="text/x-scss" href="{{ static("css/style.scss") }}" />
	{% endcompress %}
	{% block extraheaders %}{% endblock %}
	{% block extrastyle %}{% endblock %}
</head>
<body>
<input type="checkbox" class="u-hidden-checkbox" id="main_menu_visible" aria-label="Open menu">
<label class="page-overlay" for="main_menu_visible"></label>
{% block body %}
	<header>
		<nav>
			<label class="toggle-menu" for="main_menu_visible"></label>

			<ul>
				<li>Menu</li>
				<li><a href="/">Blog</a></li>
				<li><a href="/">About Us</a></li>
			</ul>

			<a class="logo" href="/">Wisdomblog.</a>
		</nav>
	</header>
	<main>
		{% block content %}
		{% endblock %}
	</main>
{% endblock %}
</body>
</html>
